# config for the AR100

CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_AR100=y
CONFIG_WANT_GPIO_BITBANGING=y
# CONFIG_WANT_DISPLAYS is not set
# CONFIG_WANT_SENSORS is not set
CONFIG_WANT_SOFTWARE_SPI=y
CONFIG_HAVE_GPIO=y
CONFIG_HAVE_GPIO_SPI=y
CONFIG_HAVE_STEPPER_BOTH_EDGE=y
CONFIG_HAVE_LIMITED_CODE_SIZE=y
CONFIG_INLINE_STEPPER_HACK=y