CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F031=y
CONFIG_STM32_FLASH_START_0000=y
CONFIG_STM32_CLOCK_REF_INTERNAL=y
CONFIG_CLOCK_REF_FREQ=1
CONFIG_STM32F0_TRIM=16
CONFIG_STM32_SERIAL_USART2_ALT_PA15_PA14=y
CONFIG_SERIAL_BAUD=250000
CONFIG_HAVE_GPIO=y
CONFIG_HAVE_GPIO_ADC=y
CONFIG_HAVE_STRICT_TIMING=y
CONFIG_HAVE_CHIPID=y
CONFIG_HAVE_STEPPER_BOTH_EDGE=y
CONFIG_INLINE_STEPPER_HACK=y
CONFIG_WANT_GPIO_BITBANGING=n
CONFIG_WANT_DISPLAYS=n
